.main_container{
  height:calc(100% - 50px);
}

.content_text{
  height:80%;
  margin-top: 2%;
  margin-left: 10px;
}

.content_1{
  height: 80%!important;
}

.btn_enter{
  margin-top: 30%;
}

.scroll{
  overflow: auto;
  height: 100%;
  width: 100%;
}
.scroll2{
  overflow: auto;
  height: 100%;
  width: 100%;
}

.from_0{
  margin-right: 1%;
  margin-top: 1%;
  width: 51%;
  float: right;
  text-align: left;
  word-break: break-all;
  background-color:#45B69C;
  border-radius:10px; 
  border: 2px solid;
  border-color: #7293A0;
}

#currentFriend{
  font-family: 'Kumar One Outline', cursive;
  text-shadow:
    0 0 5px rgba(67,232,216, 1),
    0 0 10px rgba(67,232,216, 1),
    0 0 20px rgba(67,232,216, 1),
    0 0 40px rgba(67,232,216, 1);
  animation:neon-shine 2s linear infinite;
}

@keyframes neon-shine{
  0%{opacity:1;}
  90%{opacity:0;}
  100%{
  color:#232323;}
}  

.from_1{
  margin-left:1%; 
  word-break: break-all;
  text-align: left;
  margin-top: 1%;
  width: 51%;
  float: left;
  background-color:#A0A4B8;
  border-radius:10px;
  border: 2px solid;
  border-color: #7293A0;
}

.friend-title{
  font-size: 12pt;
}

.login-title{
  font-size: 12pt;
}

.title{

  padding-left: 0!important;
  padding-right:0!important;
}

.logout-pic{
  width:20%;
  float: right;
}

.user-name{
  width:70%;
  float: left;
}

@media screen and (min-width:576px) {
  .friend-title{
    font-size: 18pt;
  }
  .login-title{
    font-size: 18pt;
  }
}

@media screen and (min-width:768px) {
  .friend-title{
    font-size: 24pt;
  }
  .login-title{
    font-size: 24pt;
  }
}

.alert_{
  margin-bottom: 0!important;
}


