body{
  background-color: grey;
  height: 100vh;
}

.signMainContainer{
  height:calc(100% - 50px);
}

.title_word{
  height:10%; 
}
.input_label{
  width:100%;
}

.singin_input{
  width: 80%;
}

.input_button{
  max-width: 80%;
  margin:5% 10% 10% 10%;
}

.input_container{
  margin:5% 10% 10% 10%;
}

.btn-small{
  width: 44%;
  margin-bottom:5%;
}

.ad{
  max-height: 100%;
}

.picture{
  max-width: 100%;
}

.friend-title{
  font-size: 12pt;
}

.login-title{
  font-size: 12pt;
}

.title{

  padding-left: 0!important;
  padding-right:0!important;
}

.logout-pic{
  width:20%;
  float: right;
}

.user-name{
  width:70%;
  float: left;
}

@media screen and (min-width:576px) {
  .friend-title{
    font-size: 18pt;
  }
  .login-title{
    font-size: 18pt;
  }
}

@media screen and (min-width:768px) {
  .friend-title{
    font-size: 24pt;
  }
  .login-title{
    font-size: 24pt;
  }
}

#currentFriend{
  font-family: 'Kumar One Outline', cursive;
  text-shadow:
    0 0 5px rgba(67,232,216, 1),
    0 0 10px rgba(67,232,216, 1),
    0 0 20px rgba(67,232,216, 1),
    0 0 40px rgba(67,232,216, 1);
  animation:neon-shine 2s linear infinite;
}

@keyframes neon-shine{
  0%{opacity:1;}
  90%{opacity:0;}
  100%{
  color:#232323;}
}

.alert_{
  margin-bottom: 0!important;
}